In [1]:
from itertools import product
import pandas as pd
import scpQCA

In [2]:
res = list(product([0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0,1],[0]))
data=pd.DataFrame(res)
data.columns=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','OUTCOME']
data

         A  B  C  D  E  F  G  H  I  J  ...  L  M  N  O  P  Q  R  S  T  OUTCOME
0        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0        0
1        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  1        0
2        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  1  0        0
3        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  1  1        0
4        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  1  0  0        0
...     .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..      ...
1048571  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  0  1  1        0
1048572  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  0  0        0
1048573  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  0  1        0
1048574  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  0        0
1048575  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1        0

[1048576 rows x 21 columns]

In [3]:
# ab+CD+ace+BDF-> OUTCOME=1
for i in range(len(data)):
    if (data.iloc[i]['A']==0 and data.iloc[i]['B']==0) or \
        (data.iloc[i]['C']==1 and data.iloc[i]['D']==1) or \
            (data.iloc[i]['A']==0 and data.iloc[i]['C']==0 and data.iloc[i]['E']==0) or\
            (data.iloc[i]['B']==1 and data.iloc[i]['D']==1 and data.iloc[i]['F']==1):
        data.iloc[i]['OUTCOME']=1
data

         A  B  C  D  E  F  G  H  I  J  ...  L  M  N  O  P  Q  R  S  T  OUTCOME
0        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0        1
1        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  1        1
2        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  1  0        1
3        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  1  1        1
4        0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  1  0  0        1
...     .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..      ...
1048571  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  0  1  1        1
1048572  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  0  0        1
1048573  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  0  1        1
1048574  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  0        1
1048575  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1        1

[1048576 rows x 21 columns]

In [24]:
data.sum(axis=0)

A          524288
B          524288
C          524288
D          524288
E          524288
F          524288
G          524288
H          524288
I          524288
J          524288
K          524288
L          524288
M          524288
N          524288
O          524288
P          524288
Q          524288
R          524288
S          524288
T          524288
OUTCOME    655360
dtype: int64

In [7]:
temp=data.sample(n=1000,replace=True,axis=0)
temp

     A  B  C  D  E  F  G  H  I  J  ...  L  M  N  O  P  Q  R  S  T  OUTCOME
36   0  1  1  0  0  1  0  0  0  1  ...  0  1  0  0  1  0  0  1  0        0
156  1  1  1  0  1  1  1  0  0  0  ...  0  0  0  0  0  1  1  0  0        0
67   0  0  0  0  1  0  1  0  1  1  ...  1  1  0  0  0  0  0  0  0        1
24   1  1  1  1  1  0  0  0  1  0  ...  1  1  1  1  1  0  0  1  0        1
122  1  1  0  1  0  1  1  0  1  0  ...  1  1  0  0  0  1  0  1  1        1
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..      ...
161  0  1  0  0  0  1  0  0  1  0  ...  0  1  1  0  1  1  1  0  0        1
142  0  0  0  0  0  1  1  1  0  0  ...  1  1  1  0  1  0  1  1  1        1
58   0  0  1  1  0  1  1  0  1  0  ...  1  1  1  0  0  0  0  0  1        1
91   0  0  0  1  0  1  1  0  1  0  ...  0  0  0  1  1  0  0  0  1        1
101  0  0  0  0  1  1  0  1  0  0  ...  1  1  0  0  1  1  1  0  1        1

[1000 rows x 21 columns]

In [8]:
temp.to_csv("D:\\code\\scpQCA\paper code\multifactor\\multifactor0.csv",index=False)

In [1]:
import scpQCA
import pandas as pd
# feature_list=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','OUTCOME']
# feature_list=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','OUTCOME']
# feature_list=['A','B','C','D','E','F','G','H','I','J','K','OUTCOME']
# feature_list=['A','B','C','D','E','F','G','H','I','OUTCOME'] #9-factor
feature_list=['A','B','C','D','E','F','G','H','OUTCOME'] #8-factor
# feature_list=['A','B','C','D','E','F','OUTCOME'] #6-factor
data=pd.read_csv(r'D:\\code\\scpQCA\paper code\multifactor\\multifactor0.csv')
test=scpQCA.scpQCA(data[feature_list],decision_name='OUTCOME',caseid='')
test.search_necessity(decision_label=1,feature_list=feature_list,consistency_threshold=0.9)
rules=test.candidate_rules(decision_label=1,feature_list=feature_list,consistency=0.9,cutoff=40,rule_length=4)
# test.scp_truth_table(rules=rules,feature_list=feature_list,decision_label=1)
config,issue=test.greedy(rules=rules,decision_label=1,unique_cover=20)
test.cov_n_con(decision_label=1, configuration=config, issue_sets=issue)
print(config)

Running...please wait. There are 163 factor combinations.
There are 237 candidate rules in total.
consistency = 0.9662162162162162 and coverage = 1.0
['B==0 & A==0', 'D==1 & C==1', 'E==0 & C==0 & A==0', 'F==1 & D==1']

In [16]:
# multifactor5_eQMC: ab + CD + ace
config1='A==0 & B==0'
config2='C==1 & D==1'
config3='A==0 & C==0 & E==0'
config4='B==1 & D==1 & F==1'
# highcover2_eQMC: ab + ACD + aDe + BDF
# config1='A==0 & B==0'
# config2='A==0 & C==1 & D==1'
# config3='A==0 & D==1 & E==0'
# config4='B==1 & D==1 & F==1'
# highcover3_eQMC: ab + CD + BDF + acde
# config1='A==0 & B==0'
# config2='C==1 & D==1'
# config3='A==0 & C==0 & D==1 & E==0'
# config4='B==1 & D==1 & F==1'
# highcover4_eQMC: ab + aCD + aCE + bCD + BDF + acdef
# config1='A==0 & B==0'
# config2='A==0 & C==1 & D==1'
# config3='A==0 & C==1 & E==1'
# config4='B==0 & C==1 & D==1'
# config5='B==1 & D==1 & F==1'
# config6='A==0 & C==0 & D==0 & E==0 & F==0'
# highcover6_eQMC: ACD + ace + BDEF + (CDf + aBDF + abeF + abEf + acDF)
# config1='A==1 & C==1 & D==1'
# config2='A==0 & C==0 & E==0'
# config3='B==1 & D==1 & E==1 & F==1'
# config4='F==0 & C==1 & D==1'
# config5='A==0 & B==1 & D==1 & F==1'
# config6='A==0 & B==0 & E==0 & F==1'
# config7='A==0 & B==0 & E==1 & F==0'
# config8='A==0 & C==0 & D==1 & F==1'
# highcover5_eQMC: abf + aDe + CDe + BDEF + ABCEf + (abCd + abcE + aCDf + BcdeF)
# config1='A==0 & B==0 & F==0'
# config2='A==0 & D==1 & E==0'
# config3='C==1 & D==1 & E==0'
# config4='B==1 & D==1 & E==1 & F==1'
# config5='A==1 & B==1 & C==1 & E==1 & F==0'
# config9='A==0 & B==0 & C==1 & D==0'
# config6='A==0 & B==0 & C==0 & E==1'
# config7='A==0 & C==1 & D==1 & F==0'
# config8='B==1 & C==0 & D==0 & E==0 & F==1'


config=[config1,config2,config3,config4]
issue=set()
for c in config:
    temp=data.query(c)
    cset=set(list(temp[temp['OUTCOME']==1].index))
    # cset=set(list(data.query(c).index))
    issue=issue.union(cset)
    others=set()
    for i in config:
        if i != c:
            others=others.union(set(list(data.query(i).index)))
    print(len(cset))
    # print(others)
    # print(cset-others)
    print()
print(len(issue))
test=scpQCA.scpQCA(data,decision_name='OUTCOME',caseid='')
test.cov_n_con(decision_label=1, configuration=config, issue_sets=issue)

251

300

153

87

572
consistency = 1.0 and coverage = 1.0

1.0